@{
    ViewData["Title"] = "AboutUs";
}
<div id="aboutUsBody">
    <h1>About Us</h1><br />
    <h3>Meet the crew</h3><br />
    <div class="row">
        <div class="col-sm-2">
            <img src="~/Images/271971806_10226055166468440_8549291347491507145_n.jpg" class="crewImages" />
        </div>
        <div class="col-sm-10">
            <div style="margin-left: 15px;">
                <h4>Hi! I'm Johny Castillo</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultrices congue orci vitae efficitur.
                    Aenean sit amet posuere nibh, et varius nisl. Cras et enim id lectus consectetur tempor.
                    Vestibulum venenatis nibh ut diam aliquam, eu dignissim libero mollis. Maecenas gravida pharetra orci,
                    non varius ante hendrerit eget. Nullam at commodo mauris. Nam nulla metus, iaculis eu magna in, volutpat
                    tincidunt nibh. Etiam in porta est. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Nullam pharetra bibendum tellus quis efficitur. Maecenas imperdiet commodo accumsan.
                </p>
            </div>


        </div>
    </div>
</div>


